@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comforta/bold/Comfortaa-Bold.eot');
	src: url('../fonts/comforta/bold/Comfortaa-Bold.woff') format('woff'),
         url('../fonts/comforta/bold/Comfortaa-Bold.ttf') format('truetype'),
         url('../fonts/comforta/bold/Comfortaa-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comforta/semibold/Comfortaa-SemiBold.eot');
	src: url('../fonts/comforta/semibold/Comfortaa-SemiBold.woff') format('woff'), 
         url('../fonts/comforta/semibold/Comfortaa-SemiBold.ttf') format('truetype'),
         url('../fonts/comforta/semibold/Comfortaa-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comforta/medium/Comfortaa-Medium.eot');
	src: url('../fonts/comforta/medium/Comfortaa-Medium.woff') format('woff'),
         url('../fonts/comforta/medium/Comfortaa-Medium.ttf') format('truetype'), 
         url('../fonts/comforta/medium/Comfortaa-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comforta/regular/Comfortaa-Regular.eot');
	src: url('../fonts/comforta/regular/Comfortaa-Regular.woff') format('woff'), 
         url('../fonts/comforta/regular/Comfortaa-Regular.ttf') format('truetype'), 
         url('../fonts/comforta/regular/Comfortaa-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comforta/light/Comfortaa-Light.eot');
	src: url('../fonts/comforta/light/Comfortaa-Light.woff') format('woff'),
         url('../fonts/comforta/light/Comfortaa-Light.ttf') format('truetype'), 
         url('../fonts/comforta/light/Comfortaa-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}




@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/monsterat/montserrat-semibold.eot');
    src: 
         url('../fonts/monsterat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monsterat/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/monsterat/montserrat-semibold.woff') format('woff'),
         url('../fonts/monsterat/montserrat-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/monsterat/montserrat-medium.eot');
    src: 
         url('../fonts/monsterat/montserrat-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monsterat/montserrat-medium.woff2') format('woff2'),
         url('../fonts/monsterat/montserrat-medium.woff') format('woff'),
         url('../fonts/monsterat/montserrat-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/monsterat/montserrat-regular.eot');
    src: 
         url('../fonts/monsterat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monsterat/montserrat-regular.woff2') format('woff2'),
         url('../fonts/monsterat/montserrat-regular.woff') format('woff'),
         url('../fonts/monsterat/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/monsterat/montserrat-light.eot');
    src: 
         url('../fonts/monsterat/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monsterat/montserrat-light.woff2') format('woff2'),
         url('../fonts/monsterat/montserrat-light.woff') format('woff'),
         url('../fonts/monsterat/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}